@page "/Alerts"
@using Blazorium.Common

<div class="flex flex-col h-full w-full align-middle justify-center">
    <Alert Color="@ColorVariant.Info">Lorem ipsum dolor sit mollit anim id est laborum.</Alert>
    <Alert Color="@ColorVariant.Danger">Lorem ipsum dolor sit mollit anim id est laborum.</Alert>
    <Alert Color="@ColorVariant.Secondary">Lorem ipsum dolor sit mollit anim id est laborum.</Alert>
    <Alert Color="@ColorVariant.Warning">Lorem ipsum dolor sit mollit anim id est laborum.</Alert>
    <Alert Color="@ColorVariant.Success">Lorem ipsum dolor sit mollit anim id est laborum.</Alert>
</div>


@code {
    
}